<form
  class="todo-form"
  [formGroup]="todoForm"
  (ngSubmit)="submit()"
  #formDirective="ngForm"
>
  <h1>Create ToDo</h1>

  <div class="form-control">
    <label for="title">Title:</label>
    <input id="title" type="text" formControlName="title" />
    <div
      *ngIf="todoForm.get('title').invalid && todoForm.get('title').touched"
      class="validation"
    >
      <small class="colorRed" *ngIf="todoForm.get('title').errors.required"
        >Can not be blank</small
      >
      <small class="colorRed" *ngIf="todoForm.get('title').errors.minlength">
        Minimal length can not be less than
        {{ todoForm.get('title').errors.minlength.requiredLength }}</small
      >
    </div>
  </div>

  <div class="form-control">
    <label>Description</label>
    <quill-editor formControlName="description"></quill-editor>
    <div
      *ngIf="
        todoForm.get('description').invalid &&
        todoForm.get('description').touched
      "
      class="validation"
    >
      <small
        class="colorRed"
        *ngIf="todoForm.get('description').errors.required"
      >
        Can not be blank
      </small>
      <small
        class="colorRed"
        *ngIf="todoForm.get('description').errors.minlength"
      >
        Minimal length can not be less than
        {{ todoForm.get('description').errors.minlength.requiredLength }}</small
      >
    </div>
  </div>
  <div class="form-control">
    <label for="author">Author:</label>
    <input id="author" type="text" formControlName="author" />
    <div
      *ngIf="todoForm.get('author').invalid && todoForm.get('author').touched"
      class="validation"
    >
      <small class="colorRed" *ngIf="todoForm.get('author').errors.required"
        >Can not be blank</small
      >
      <small class="colorRed" *ngIf="todoForm.get('author').errors.minlength">
        Minimal length can not be less than
        {{ todoForm.get('author').errors.minlength.requiredLength }}</small
      >
    </div>
  </div>

  <div class="form-control">
    <mat-form-field class="largeInput">
      <mat-label>Priority</mat-label>
      <select matNativeControl required formControlName="priority">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </mat-form-field>
  </div>
  <div class="form-control">
    <mat-form-field class="form-control">
      <mat-label>Deadline</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [min]="minDate"
        formControlName="date"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <button
    type="submit"
    class="btn btn-block btn-dark"
    [disabled]="todoForm.invalid"
  >
    Create ToDo
  </button>
</form>
