<div *ngIf="form; else loading">
  <form [formGroup]="form" class="todo-form-edit" (ngSubmit)="submit()">
    <div class="form-control">
      <label for="title">Title:</label>
      <input id="title" type="text" formControlName="title" />
      <div
        *ngIf="form.get('title').invalid && form.get('title').touched"
        class="validation"
      >
        <small class="colorRed" *ngIf="form.get('title').errors.required"
          >Can not be blank</small
        >
        <small class="colorRed" *ngIf="form.get('title').errors.minlength">
          Minimal length can not be less than
          {{ form.get('title').errors.minlength.requiredLength }}</small
        >
      </div>
    </div>

    <div class="form-control">
      <label>Description</label>
      <quill-editor formControlName="description"></quill-editor>
      <div
        *ngIf="
          form.get('description').invalid && form.get('description').touched
        "
        class="validation"
      >
        <small class="colorRed" *ngIf="form.get('description').errors.required">
          Can not be blank
        </small>
        <small
          class="colorRed"
          *ngIf="form.get('description').errors.minlength"
        >
          Minimal length can not be less than
          {{ form.get('description').errors.minlength.requiredLength }}</small
        >
      </div>
    </div>

    <div class="form-control">
      <label for="author">Author:</label>
      <input id="author" type="text" formControlName="author" />
      <div
        *ngIf="form.get('author').invalid && form.get('author').touched"
        class="validation"
      >
        <small class="colorRed" *ngIf="form.get('author').errors.required"
          >Can not be blank</small
        >
        <small class="colorRed" *ngIf="form.get('author').errors.minlength">
          Minimal length can not be less than
          {{ form.get('author').errors.minlength.requiredLength }}</small
        >
      </div>
    </div>

    <div class="form-control">
      <mat-form-field class="largeInput">
        <mat-label>Priority</mat-label>
        <select matNativeControl required formControlName="priority">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </mat-form-field>
    </div>
    <div class="form-control">
      <mat-form-field class="form-control">
        <mat-label>Deadline</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          [min]="minDateEdit"
          formControlName="date"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="form.invalid || submitted"
    >
      Edit
    </button>
  </form>
</div>

<ng-template #loading>
  <p class="text-center">Loading...</p>
</ng-template>
